body{
    background-color: orangered;
    margin: 0px;
}

span{
    text-align: right;
}

.card{
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color:#222
}

.card-title{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
}
#pokedex{
    padding-inline-start: 0;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) ;
    grid-gap: 20px;
}